<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" showFlags="Date, Time, Size, Extension" />
    </system.webServer>
    <system.web>
        <profile>
            <properties>
                <group name="Tarang" />
            </properties>
        </profile>
    </system.web>
</configuration>
